<a href="https://colab.research.google.com/github/ErfanS99/python_course_SRBIAU/blob/main/ex_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Secoond session (Conditional statements)

In [ ]:
if True:
    print(50)
    print(5)

50
5

In [ ]:
a = input("Enter your number: ")
a = int(a)
if a % 2 == 0:
  print("Number is even")
else:
  print("Number is odd")

Enter your number: 5
Number is odd

In [ ]:
a = input("Enter your number: ")
a = float(a)
if a > 0:
  print("Number is positive")
elif a == 0:
  print("Number is zero")
else:
  print("Number is negative")

Enter your number: 5.5
Number is positive

In [ ]:
a = input("Enter your number: ")
a = float(a)
if a < -1:
  print("Number is less than -1")
elif a > -1 and a < 0:
  print("Number is between -1 and 0")
elif a == 0:
  print("Number is equal to zero")
elif a > 0 and a < 1:
  print("Number is between 0 and 1")
else:
  print("Number is greater than 1")

Enter your number: 0
Number is equal to zero

In [ ]:
hex(id(a))

'0xb1d568'

Bitwise operators

In [ ]:
print(bin(5))
print(bin(6))
print(bin(5 & 6))
print(5&6)
print(bin(4))
print("*"*10)
print(bin(5 | 6))
print("*"*10)
print("XOR operator:")
print(5 ^ 6)
bin(3)

0b101
0b110
0b100
4
0b100
**********
0b111
**********
XOR operator:
3

'0b11'

Loop definition

In [ ]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
  print(i*10)

0
10
20
30
40

In [ ]:
l = [0, 5 , 10, 15 , 20]
for i in l:
  print(i/10)

0.0
0.5
1.0
1.5
2.0

XOR encryption

In [ ]:
a = input("Enter your text: ")
key = 8
characters = []
for i in a:
  ascii_chr = ord(i)
  enc_code = ascii_chr ^ key
  enc_chr = chr(enc_code)
  characters.append(enc_chr) #  characters.append(chr(ord(i) ^ key))

xry_txt = "".join(characters)

print(xry_txt)

Enter your text: Hello
@mddg

"In" statement

In [ ]:
l = [1, 2, 3]
2 in l

True

List Definition

In [ ]:
A = [1, 2.5, None, "a", 'Hello'] # index starts at 0
B = [5, 2 , 4]
A.append(5)
A.insert(1," ")
print(len(A))
print(A[0])
A.extend(B)
print(B)
A.remove(2.5)
A.remove("a")
print(A)
A.pop(2)
print(A)
B.sort()
print(B)

7
1
[5, 2, 4]
[1, ' ', None, 'Hello', 5, 5, 2, 4]
[1, ' ', 'Hello', 5, 5, 2, 4]
[2, 4, 5]

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a
d = a.copy()
print(a == b)
print(a is b)
print(a is c)
print(a is not a)
print(a == d)
print(a is d)

True
False
True
False
True
False

In [ ]:
a = list(range(5))
list(range(2,10))
print(a)
a[4] = 0
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 0]

Tuple and Set Definition

In [ ]:
A  = (1, 2, 3)
print(type(A))
# A[0] = 5 # Does not allow item assigment
B = {1, 2, 3}
print(type(B))
B = {1, 2, 3, 2, 1}
print(B)
# B[0]

<class 'tuple'>
<class 'set'>
{1, 2, 3}

While Definition

In [ ]:
state = True
while state:
  a = input("Enter your number: ")
  a = float(a)
  if a < 0:
    print("Invalid input")
    continue
  if a >= 0 and a < 1:
    print("Number between 0 and 1")
  else:
    print("Number is greater than 1")

  answ = input("Do you want to continue? (y/n)")
  if answ == "n":
    state = False

Enter your number: 5
Number is greater than 1
Do you want to continue? (y/n)n